// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.admin-products-new {
  width: 40%;
  margin: 0 auto;

  form {
    background-color: #f0f0f0;
    padding: 15%;
    border: 1px solid #c8c8c8;
    border-radius: 2%;
  }

  .signup-btn {
    width: 100%;
    margin: 5% 0;
  }

  .well {
    text-align: center;
  }

  .has-icon .form-control {
    padding-left: 2.375rem;
  }

  .has-icon .form-control-feedback {
    position: absolute;
    z-index: 2;
    display: block;
    width: 2.375rem;
    height: 2.375rem;
    line-height: 2.375rem;
    text-align: center;
    pointer-events: none;
    color: #aaa;
  }
}
